<section class="section">
	<div class="container">
		<div class="columns is-centered">
			<div class="column is-4 bg-blue">
				<h2 class="title is-2 t-white">Log in</h2>
          <%= form_with url: '/sessions' do |f| %>
            <%= label_tag(:username, "Please fill in your username:", class: 'label t-white' ) %>
            <br>
            <%= f.text_field(:username, placeholder: 'Username', class: 'input') %>
            <br>
            <br>
            <%= f.submit('Sign In', class: 'button bg-blue t-white') %>
          <% end %>
        </h2>
      </div>
    </div>
  </div>
</section>
