<li class="post">
  <div class = 'opinion-container'>
    <div class="opinion-content">
      <p><%= opinion.content %></p>
    </div>
    <div class='opinion-attribution' >
      <p>Shared by: <%= opinion.user.username %></p>
    </div>
  </div>
</li>