<li class="post">
  <div>
    <div class='post-attribution' >
      <p><%= opinion.user.username %></p>
    </div>
    <div class='post-liking'>
      <span class='post-date'> <%= opinion.created_at.strftime("%Y/%m/%d") %> </span>
    </div>
  </div>
  <p class="post-content">
    <%= opinion.content %>
  </p>
</li>