<li class="post">
  <div>
    <div class='post-attribution' >
      <p><%= user.username %></p>
    </div>
    <div class='post-liking'>
      <%= link_to 'Follow', follow_user_path(user), method: :post, class: 'profile-link btn btn-secondary' %>
    </div>
  </div>
</li>