<li class="user">
  <div class= 'who-container'>
    <div class= 'who-img'>
      <%= image_tag user.photo %>
    </div>
    <div class='who-info' >
      <p><%= user.username %></p>
      <p><%= user.followers.count %> followers</p>
      <p><%= link_to 'Follow', follow_user_path(user), method: :post %></p>
      <% if %>
    </div>
  </div>
</li>