<li class="user">
  <div class= 'who-container'>
    <div class= 'who-img'>
      <%= image_tag user.photo %>
    </div>
    <div class='who-info' >
      <p><%= link_to user.username, user_path(user) %></p>
      <p><%= user.followers.count %> followers</p>
      <% unless current_user.users.include?(user) %>
        <p><%= link_to 'Follow', follow_user_path(user), method: :post %></p>
      <% end %>
    </div>
  </div>
</li>