<section class="section">
	<div class="container">
		<div class="columns is-centered">
			<div class="column is-4 bg-blue">
				<h2 class="title is-2 t-white">Sign Up</h2>
        <%= render 'form', user: @user %>
        <%= link_to 'Back', new_session_path%>
      </div>
    </div>
  </div>
</section>