/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bulma';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

.bg-blue {
  background-color: #53a7e7;
}

.bg-dark {
  background-color: #213346;
}

.navbar,
.advices {
  z-index: 0;
  padding-left: 21%;
}

.notification:not(:last-child) {
  margin-bottom: 0;
}

.t-blue {
  color: #53a7e7;
}

.t-white {
  color: white;
}

.t-gray {
  color: #a0adbb;
}

.center {
  text-align: center;
}

form {
  border: 1px lightgray solid;
  padding: 20px 10px;
  margin-bottom: 20px;
}

.big-container {
  padding-left: 20%;
  display: flex;
  flex-direction: row;
  height: 91vh;
}

.center-section {
  width: 70%;
}

.right-section {
  width: 30%;
  background-color: #f5f6f8;
}

.right-section,
.center-section {
  height: 100%;
}

aside {
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 1;
  width: 20%;
}

.opinion-container {
  margin-bottom: 15px;
}

.user-content {
  padding: 8px 12px;
  text-align: center;
}

.image {
  width: 100px;
  margin: 0 auto;
}

.username {
  font-size: 1.2rem;
  text-transform: lowercase;
}

.followings,
.details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.follow {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.menu-list a {
  color: inherit;
}

.who-container {
  display: flex;
  margin-bottom: 15px;
}

.who-img {
  width: 80px;
  margin-right: 10px;
}

.detail {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.cover-img {
  margin: 0 auto 20px auto;
}
